/* Generales */
:host {
    --blanco: #fff;
    --negro: #000;
    --headerColor: #0e004b;
    --botonesColor: #023E8A;
    --color1: #0077B6;
    --color2: #0096C7;
    --color3: #00B4D8;
    --color4: #48CAE4;
    --color5: #90E0EF;
    --color6: #ADE8F4;
    --color7: #CAF0F8;
    --fuente: 'Roboto', sans-serif;
}




h1,
h2,
h3,
h4,
h5,
p,
a {
    font-family: var(--fuente);
    margin: 0;
}

a {
    font-size: 1.5rem;
    font-weight: 500;
}





/* Especificos */
.contenedor-principal {
    display: flex;
    /* background-color: var(--headerColor); */
    background: rgba(0, 0, 0, .7);
    width: 100%;
    color: var(--blanco);
    padding: 1.5rem;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

.contenedor-navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    user-select: none;
}


.navegacion {
    display: flex;
    gap: 2.5rem;
    list-style-type: none;
    cursor: pointer;
}




.search svg {
    stroke: var(--color4);
    cursor: pointer;
}


.buscador {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: var(--blanco);
}

.buscador input {
    width: 100%;
    padding: 1.5rem;
    text-decoration: none;
    border: none;
    outline: none;
}

.buscador input::after {
    border: none;
}


.pointer{
    cursor: pointer;
}